/****** COLOR PALETTE 
Drawdown Blue: rgb(41,171,226)
Drawdown Dark Blue: rgb(37,64,142)
Drawdown Orange: rgb(248,159,30)
*******/

/*********************** GENERAL ************************/
* {
  font-family: 'Exo', sans-serif;
  color: rgb(114,114,114);
}

.App {
  text-align: center;
}

/************************ HEADER *************************/
.header-container {
  display: flex;
  position: fixed;
  height: 100px;
  background-color: rgba(255,255,255,0.9);
}

.logo-container {
  width: 50%;
}

.header-container nav {
  width: 50%;
}

.logo {
  width: 30%;
  margin-right: 30%;
  margin-top: 5px;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-nav a {
  text-decoration: none;
  letter-spacing: 0.05rem;
  font-size: 1.2rem;
  font-weight: 600;
}

/*********** INTRO PHOTO ************/

.intro-photo-container {
  height: 650px;
  width: 100vw;
}

.intro-photo {
  background-image: url("https://res.cloudinary.com/eloise/image/upload/v1581877452/drawdown-nyc/header-img-02.jpg"); /* Photo by Sebastian Engler on Unsplash */
  background-size: cover;
  width: 100%;
  height: 100%;
}

/***************** ABOUT / ASIDE *******************/
.about-text, .aside-text {
  display: flex;
}

.about-what, .events-container {
  background-color: rgb(41,171,226);
}

.about-what h3, p, .events-container h3 {
  color: rgb(255,255,255);
}

.about-text div, .aside-text div {
  width: 50%;
  height: 400px;
  padding: 3% 4% 5% 4%;
}

.about-text h3, .aside-text h3 {
  font-size: 2rem;
}

.about-text p, .aside-text p {
  line-height: 2.5rem;
  font-size: 1.35rem;
}

.about-photo-container {
  width: 100vw;
  height: 400px;
}

.about-photo {
  /* Photo by American Public Power Association on Unsplash */
  width: 100%;
  height: 100%;
}

