/****** COLOR PALETTE 
Drawdown Blue: rgb(41,171,226)
Drawdown Dark Blue: rgb(37,64,142)
Drawdown Orange: rgb(248,159,30)
Grey: rgb(114,114,114)
*******/

/*********************** GENERAL ************************/
* {
  font-family: 'Exo', sans-serif;
  color: rgb(114,114,114);
}

.App {
  text-align: center;
}

/************************ HEADER *************************/
.header-container {
  display: flex;
  position: fixed;
  height: 100px;
  background-color: rgba(255,255,255,0.9);
}

.logo-container {
  width: 50%;
}

.header-container nav {
  width: 50%;
}

.logo {
  width: 30%;
  margin-right: 30%;
  margin-top: 5px;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.header-nav a {
  color: rgb(114,114,114);
  text-decoration: none;
  letter-spacing: 0.05rem;
  font-size: 1.2rem;
  font-weight: 600;
  width: 33%;
  height: 100%;
  padding-top: 10%;
}

.header-nav a:hover {
  background-color: rgb(248,159,30);
  color: rgb(255,255,255);
}

.header-nav a:hover {
  font-weight: 900;
}

/*********** INTRO PHOTO ************/

.intro-photo-container {
  height: 650px;
  width: 100vw;
}

.intro-photo {
  background-image: url("https://res.cloudinary.com/eloise/image/upload/v1581877452/drawdown-nyc/header-img-02.jpg"); /* Photo by Sebastian Engler on Unsplash */
  background-size: cover;
  width: 100%;
  height: 100%;
}

/***************** ABOUT / ASIDE *******************/
.about-text, .aside-text {
  display: flex;
}

.about-what, .events-container {
  background-color: rgb(41,171,226);
}

.about-who > h3, .about-who > p, .newsletter-form-container > h3, .newsletter-form-container p {
  color: rgb(114,114,114);
}

.about-what h3, p, .events-container h3 {
  color: rgb(255,255,255);
}

.about-text div, .aside-text div {
  width: 50%;
  height: 400px;
  padding: 3% 4% 5% 4%;
}

.about-text h3, .aside-text h3 {
  font-size: 2rem;
}

.about-text p, .aside-text p {
  line-height: 2.5rem;
  font-size: 1.35rem;
}

.about-photo-container {
  width: 100vw;
  height: 400px;
}

.about-photo {
  /* Photo by American Public Power Association on Unsplash */
  width: 100%;
  height: 100%;
}

.aside-drawdown-container {
  /* Photo by Kai Gradert on Unsplash */
  background-image: url("https://res.cloudinary.com/eloise/image/upload/v1581893490/drawdown-nyc/windmills_gsnuwh.jpg");
  background-size: cover;
  height: 400px;
  width: 100vw;
}

.project-drawdown {
  text-decoration: none;
}

.aside-drawdown-container:hover {
  cursor: pointer;
  opacity: 0.8;
}

.aside-drawdown-container h4 {
  font-size: 3rem;
  color: rgb(255,255,255,0.7);
  margin-top: 0;
  padding-top: 5%;
}

/*************** FOOTER ******************/
.footer-container {
  background-color: rgb(37,64,142);
  
}

.links-container {
  display: flex;
  padding-top: 3%;
}

.links-container nav {
  display: flex;
  flex-direction: column;
}

.links-container nav {
  width: 50%;
  
}

.links-container nav, a {
  color: rgb(255,255,255);
  line-height: 2rem;
  text-decoration: none;
}

.links-container a:hover {
  font-weight: 900;
}

.copyright-container {
  align-items: left;
}

.copyright-container p {
  margin: 0;
  padding: 4% 0;
}